.red{
    color: red;
}

.yellow{
    background-color: yellow;
}

#firstdiv{
    background-color: rgb(125, 247, 247);
}

.black{
    background-color: black;
}

.white{
    color: white;
}